body {
    font-family:sans-serif;
    margin: 0;}

#encabezado{
    color:rgb(5, 71, 116); 
    background-color: rgb(204, 108, 145);
    padding: 10px;
}

ul {
    padding: 0;
    list-style-type: none;
}

#contenido{
    background-color:rgb(204, 151, 108);
    width: 1380 px;
    height: 480 px;
    float:center;
    

}
#menu {
    background-color:rgb(243, 177, 151);
    width: 138 px;
    height: 480 px;
    float: left;
}

a, a:visited {
    color: rgb(0, 0, 0);
    background-color: rgb(250, 253, 90);
    width: 155px;
    height: 40px ;
    float: right;
    text-decoration: none;
}